<h1>Navigation</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque fuga in est?
  Quasi at explicabo sint, repellendus, incidunt fugiat nemo nostrum delectus
  mollitia esse temporibus, expedita recusandae. Eligendi, aliquid corporis?
</p>
<h1>Footer</h1>